$page_blue: #1877F2;

html {
    height: 100%;
    width: 100%;
    body {
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: 'Roboto',
        sans-serif;
        .wrapper {
            background-color: $page_blue;
            height: 100%;
            .main-body {
                height: 100%;
                .body-content {
                    height: 100%;
                    .tab-content {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        .page-one {
                            background-color: #f8f8f8;
                            height: 100%;
                            width: 64%;
                            // padding-top: 12%;
                            .steps-div {
                                text-align: right;
                                padding-right: 2em;
                                padding-top: 1.3em;
                                .steps-text {
                                    font-size: 9px;
                                    margin-right: 1.5em;
                                    font-weight: bold;
                                }
                                .circle.black {
                                    background-color: #000;
                                }
                                .circle {
                                    border: 1px solid #888;
                                    border-radius: 50%;
                                    padding: 0.5px;
                                    width: 1px;
                                    height: 1px;
                                    display: inline-block;
                                    margin-right: 6px;
                                }
                            }
                            .content-div {
                                width: 41%;
                                margin: 0 auto;
                                padding-top: 14%;
                                .main-heading {
                                    margin-top: 0;
                                    letter-spacing: 1px;
                                    color: #1B1B1B;
                                }
                                .ask-account {
                                    font-size: 11px;
                                }
                                p {
                                    font-size: 11px;
                                    margin: 10% 0 8%;
                                    margin-bottom: 8%;
                                }
                                a {
                                    text-decoration: none;
                                    font-weight: bold;
                                    color: $page_blue;
                                }
                                .signin-form {
                                    width: 100%;
                                    ::-webkit-input-placeholder {
                                        font-size: 11px;
                                    }
                                    .form-input {
                                        border: 1px solid #eee;
                                        width: 100%;
                                        padding: 10px;
                                        margin: 7px 0;
                                        box-sizing: border-box;
                                        border-radius: 2px;
                                        background-color: #f8f8f8;
                                    }
                                    .email-error {
                                        display: none;
                                    }
                                    .visible {
                                        font-size: 9px;
                                        color: red;
                                        display: block;
                                    }
                                    .invalid {
                                        border: 1px solid red;
                                    }
                                    .form-input.selector {
                                        color: #838181;
                                        font-size: 11px;
                                    }
                                    .pass-span {
                                        float: right;
                                        position: relative;
                                        top: -2.1rem;
                                        left: -0.3rem;
                                        font-size: 12px;
                                        color: #444;
                                    }
                                    .char-size {
                                        font-size: 9px;
                                        color: #999;
                                    }
                                    .signin-btn {
                                        width: 100%;
                                        padding: 11px;
                                        border: 1px solid #eee;
                                        border-radius: 3px;
                                        margin-top: 10px;
                                        font-size: 10px;
                                        color: #aaa;
                                    }
                                    .valid-form{
                                        color: #fff;
                                        background-color: $page_blue;
                                    }
                                    .policy-claim {
                                        font-size: 10px;
                                        line-height: 19px;
                                    }
                                }
                            }
                        }
                        .dummy-sect {
                            width: 35%;
                            .dummy-wrap {
                                margin: 0 auto;
                                padding-top: 65%;
                                color: #fff;
                                width: 61%;
                                h2 {
                                    text-align: center;
                                }
                                p {
                                    margin: 20% auto 0;
                                    font-size: 12px;
                                    letter-spacing: 1px;
                                    line-height: 24px;
                                    width: 89%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
